.btn.btn-my {
  background-color: $thertiary;
  border: 1px solid $thertiary;
  transition: .2s;

  &:hover {
    background-color: $hover;
    border-color: $hover;
  }
}

.btn-search {
  background-color: $secondary;
  color: $thertiary;
  border: 2px solid;
  text-transform: uppercase;

  &:hover {
    background-color: lightblue;
    color: $primary;
    border: 2px solid $primary;
  }
}