* {
  box-sizing: border-box;
}

.body-registration {
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: auto;
  margin: 0 auto;
}

.body-authentication {
  height: 100vh;
  margin: 0;
}


.body-authentication,
.body-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
}

.body-profile {
  background-color: $body-bg-profile;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}