.error,
.name-error,
.email-error,
.password-error {
  margin-top: 5px;
  padding: 6px 12px;
  color: red;
  background-color: rgba(210, 0, 0, .1);
  border: 1px solid;
  border-radius: 0.375rem;
}

.password-toggle {
  right: -60px;
  cursor: pointer;
}