.card-group .card {
  background-color: $secondary;
}

.card-img-top {
  height: 200px;
}

.user-identification {
  height: 80px;
  width: 100%;
}

.avatar-img-wrapper {
  width: 60px;
  height: 60px;
}