.log-out {
  & i {
    font-size: 25px;
  }
}

.post-list-item {
  list-style: decimal;
}

.wrapper-posts-list li,
.wrapper-follow-list li {
  color: $tertiary;

  a {
    text-decoration: none;
    color: $tertiary;
    transition: .2s;

    &:hover {
      color: $hover;
    }
  }
}